<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="show.css">
    <!-- Fontawesome CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">

    <title>COVID-19 | Reports</title>

  </head>
  <body class="">

    <header>
      <ul class="nav nav-pills back-btn">
        <li class="nav-item">
          <a class="nav-link btn btn-sm" href="/search"><i class="fas fa-arrow-left"></i> Go Back</a>
        </li>
      </ul>
      <div class="jumbotron jumbotron-fluid" id="jumbotron">

        <div class="container text-right">
          <h1 class="display-4">Covid-19 World Statistics</h1>
          <p class="lead">Keep up to date with the world's COVID-19 reports.</p>
        </div>
      </div>
    </header>




    <div class="container-fluid">

  <div class="row">

  <div class="col-lg-3">

  <main role="main" class="inner cover text-center">
    <div class="card rounded-lg p-3">
    <h1 class="text-capitalize">Deaths</h1>
    <p>Total Death<p>
    <div class="progress rounded" style="height: 10px">
      <div class="progress-bar bg-<%= colorDisplay %>" style="width: <%= widthDisplay %> " role="progressbar" aria-valuenow="25%" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <small> <%= totalDeaths %> </small>
    <hr>
    <p>Recent Deaths</p>
    <div class="progress rounded" style="height: 10px">
      <div class="progress-bar bg-<%= recentcolorDisplay%> " style="width:<%= recentwidthDisplay %> " role="progressbar" aria-valuenow="25%" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <small> <%= newDeaths %> </small>
    <hr>




    <div class="card rounded-lg p-3">
    <h5 class="text-capitalize">Accurate as of:</h5>

    <small> <%= day %></small>
    <hr>

    <small> <%= time %> </small>
    <hr>

    </div>
  </main>


  </div>

  <div class="col-lg-3">
      <main role="main" class="inner cover text-center">

        <div class="card rounded-lg p-3">
        <h1 class="text-capitalize">Cases</h1>
        <p>New Cases</p>
        <div class="progress rounded" style="height: 10px">
          <div class="progress-bar bg-<%= newCasescolorDisplay %> " style="width: <%= newCaseswidthDisplay %> " role="progressbar" aria-valuenow="25%" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <small> <%= newCases %></small>
        <hr>
        <p>Active Cases</p>
        <div class="progress rounded" style="height: 10px">
          <div class="progress-bar bg-<%= activeCasescolorDisplay %> " style="width: <%= activeCaseswidthDisplay %> " role="progressbar" aria-valuenow="25%" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <small> <%= activeCases %> </small>
        <hr>
        <p>Critical Cases</p>
        <div class="progress rounded" style="height: 10px">
          <div class="progress-bar bg-<%= criticalCasescolorDisplay %> " style="width: <%= criticalCaseswidthDisplay %> " role="progressbar" aria-valuenow="25%" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <small> <%= criticalCases %> </small>
        <hr>
        <p>Recovered Cases</p>
        <div class="progress rounded" style="height: 10px">
          <div class="progress-bar bg-<%= recoveredCasescolorDisplay %> " style="width: <%= recoveredCaseswidthDisplay %> " role="progressbar" aria-valuenow="25%" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <small> <%= recoveredCases %> </small>
        <hr>


        </div>
      </main>

  </div>


    <div class="col-lg-6">
        <main role="main" class="inner cover text-center">




          <div class="card rounded-lg p-3">
            <h1>Country</h1>
            <h3 class="text-capitalize"> <%= curCountry %> </h3>
            <hr>
            <h3>Continent</h3>
            <p class="lead"> <%= continent %> </p>






          <h3 class="">Population:</h3>
          <p class="text-capitalize"> <%= population %></p>
          <hr>
          <h3 class="">Total Cases:</h3>
          <p class="lead"> <%= totalCases %> </p>

        </div>
      </main>
</div>
</div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>
